.btn {
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 20px;
    transition: .2s ease-in-out;
}

.search-filter {
    margin-top: 20px;
}

.search-filter-btn {
    background-color: #fff;
    color: #666;
    font-size: 18px;
}

.search-filter-btn--outline {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.search-filter-btn:hover {
    color: #333;
    background-color: #fff;
}