.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #19F081;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    color: #fff;
}

.add-form {
    margin-top: 20px;
}

.add-form .add-form-input {
    width: 350px;
    outline: none;
    margin-right: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    padding: 7px 15px;
    transition: .2s ease-in-out;
}

.add-form .add-form-input::placeholder {
    color: #888;
    transition: .2s ease-in-out;
}

.add-form .add-form-input:focus::placeholder {
    color: #333;
}

.add-form .btn--outline {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 7px 15px;
}

.add-form .btn--outline:hover {
    color: #333;
    background-color: #fff;
}